*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: pink;
}
body{
     font-family: 'Poppins', sans-serif;;
}

.navbar{
    display: flex;
    align-items: center; /*it put all elements in center*/
    padding: 20px; /* space around all sides*/
}
nav{
    flex: 1;
    text-align: right;
}

nav ul{
    display: inline-block;
    list-style-type: none;
}
 
nav ul li{
    display: inline-block;
    margin: 20px; /*it give margin from left to right*/
}

a{   /*or nav ul li a { same as follow*/
    text-decoration: none;
    color: #555;
}

p{
    color: #555;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

/*  after Nav Bar*/
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 100%;
    padding: 50px 0;

}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;

}
.btn{
    display: inline-block;
    background: #ff523b;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}
.btn:hover{
    background: #563434;
    color: white;
}

/* .header{
    background: radial-gradient(#fff,#ffd6d6);
} */
.categories{
    margin: 70px 0;
}
.col-3{
    flex-basis: 30%;  /*all colums will accopy 30% space*/
    min-width: 250px;
    margin-bottom: 30px;
}
.col-3 img{
    width: 100%;
}
.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-height: 200px;
    margin-bottom: 50px;
   /* transition: all ease;*/
   transition: transform 0.5s;
}
.col-4 img{
    width: 100%;
}

.col-4 img:hover{

   /* transform: scale(1.05);*/
   transform: translateY(-5px);
}
.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}
.title::after{
    content: " ";
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 45%;
    transform: tramslateX(-50%);
}
h4{
    color: #555;
    font-weight: normal;
}
.col-4 p{
    font-size: 14px;
}
.rating .fa, .fas, .far{
    color: #ff523b


}


.website{


max-width: 135px;
    

}

.linux{


max-width: 135px;

}
